<div class="container">
    <div class="row row-cols-1 row-cols-md-2 justify-content-center">
        <div class="col g-0 mb-2 g-2" *ngFor="let p of pizza">
            <div class="card rounded shadow" style="height: 380px;">
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="m-4 fw-bold">
                            {{p.name}} <br>
                            <div  style="text-align: center;">
                                <img class="shadow" src="{{vImg}}" width="15" height="15" *ngIf="p.type=='veg'" /> 
                                <img class="shadow" src="{{nvImg}}" width="15" height="15" *ngIf="p.type=='nonveg'"/>
                            </div>
                            
                        </div>
                        <div class="m-4 h6">
                            {{p.price |currency:"INR"}}
                        </div>
                    </div>
                        <div>
                            <div class="card-body  w-100">
                                <p class="card-text text-justify fs-6">
                                    {{p.description}}<br><br>
                                    <span class="fw-bold">Ingredients:</span> <span class="text-capitalize"> {{p.ingredients.join(', ')}}</span>  <br><br>
                                    <span class="fw-bold">Toppings:</span> <span class="text-capitalize"> {{p.topping.join(', ')}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="p-2">
                            <img src="{{p.image}}" alt="{{p.name}}" width="150" height="100"/>
                            <div class="mt-3" style="text-align: center;">
                                <button class="btn bg-warning btn-sm text-white shadow" (click)="getCartData(p)">Add to cart</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<footer class="mt-2 sticky-bottom bg-light text-warning text-center p-2">Copyright @2022 by Pizzeria. All rights are reserved</footer>