<div class="container mt-4 mb-4">
    <p class="text-center fs-2">Our Story</p>
    <p class="text-justify">
        We believe in good. We launched Fresh pan pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come  up with wacky and fun excuses. The person
        with the best excude badge and won pizzeria's vouchers. Their enthusiastic response proved that pizzeria's Fresh Pan Pizza is the tastiest pan pizza ever! <br> We launched Fresh Pan Pizza Best Excuse Awards on our Facebook Fan page. Fans were given situations
        where they had to come up with wacky and fun excuses. The person with the best excuse won the Best
        Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh
        Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
    <div class="row">
        <div class="col-md-6">
            <img src="https://image.shutterstock.com/image-photo/raw-dough-pizza-ingredients-spices-600w-526830277.jpg" width="400" height="300" class="rounded mx-auto d-block shadow" alt="...">
        </div>
        <div class="col-md-6 align-items-center d-flex">
            <div>
                <p class="fs-4">Ingredients</p>
                <p>We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf(straight from the farm), or streaming a baby(carrot). Cut Cut, Chop Chop, Steam Steam, Stir Stir. While they're still young and fresh - that's our motto. It makes the kitchen a better place.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-items-center d-flex">
            <div>
                <p class="fs-4">Our Chef</p>
                <p>They make sauce sing and salad dance. They create magic with skill, knowledge, passion, and stirring spoons(among other things). They make goodness so good, it doesn't know what to do with itself. We do though. We send it to you.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img  src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" width="400" height="300" class="rounded mx-auto d-block shadow" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg" width="400" height="300" class="rounded mx-auto d-block shadow" alt="...">
        </div>
        <div class="col-md-6 align-items-center d-flex">
            <p class="fs-4">45 min delivery</p>
        </div>
    </div>
</div>
<footer class="sticky-bottom bg-light text-warning text-center p-2">Copyright @2022 by Pizzeria. All rights are reserved</footer>